table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5rem;
  margin: .5em 0 .75rem;
}

table tr {
  background-color: white;
  border: 1px solid #ddd;
  padding: .35rem;
}

table tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

table th,
table td {
  padding: .5rem;
  text-align: center;
}

table th {
  font-size: .85rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3rem;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 1rem;
  }
  
  table tbody tr:nth-child(odd) {
    background-color: white;;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8rem;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
